
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>

    @Html.Action("PartialNavbarInfo", "Default")

    @Html.Action("PartialNavbar", "Default")
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url(/Templates/tasteit-master/images/bg_5.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate text-center mb-5">
                    <h1 class="mb-2 bread">İletişime Geç</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/Default/Index">Ana Sayfa <i class="fa fa-chevron-right"></i></a></span> <span>İletişim <i class="fa fa-chevron-right"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex contact-info">
                <div class="col-md-12">
                    <h2 class="h4 font-weight-bold">İletişim Bilgileri</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3 d-flex">
                    <div class="dbox">

                        @Html.Action("PartialAddress", "Default")
                    </div>

                </div>
                <div class="col-md-3 d-flex">
                    <div class="dbox">
                        <p><span>Telefon:</span> <a href="tel://1234567920">@ViewBag.phone</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="dbox">
                        <p><span>Email:</span> <a href="mailto:@ViewBag.email">@ViewBag.email</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="dbox">
                        <p><span>Website</span> <a href="Default/Index">tastefoodit.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Action("PartialContact", "Default")


    <footer class="ftco-footer ftco-no-pb ftco-section">
        <div class="container">
            <div class="row mb-5">
                @Html.Action("AboutPartial", "Default")
                @Html.Action("PartialOpenDayHour", "Default")
                @Html.Action("PartialInstagram", "Default")
                @Html.Action("PartialNewSletter", "Default")
            </div>
        </div>
        <div class="container-fluid px-0 bg-primary py-3">
            <div class="row no-gutters">
                <div class="col-md-12 text-center">

                    <p class="mb-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    @Html.Action("PartialScript", "Default")

</body>
</html>