@model List<TasteFoodIt.Entities.SliderInfo>

<section class="hero-wrap">
    <div class="home-slider owl-carousel js-fullheight">

        <div class="slider-item js-fullheight" style="background-image:url(@Model[0].ImageUrl);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 mt-5 text-center">
                            <span class="subheading">@Model[0].Title</h2></span>
                            <h1>@Model[0].Info</h1>
                            <span class="subheading-2">Yemek</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" style="background-image:url(@Model[1].ImageUrl);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 mt-5 text-center">
                            <span class="subheading">@Model[1].Title</h2></span>
                            <h1>@Model[1].Info</h1>
                            <span class="subheading-2 sub">Yemek</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" style="background-image:url(@Model[2].ImageUrl);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 mt-5 text-center">
                            <span class="subheading">@Model[2].Title</h2></span>
                            <h1>@Model[2].Info</h1>
                            <span class="subheading-2 sub">Yemek</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
