@model TasteFoodIt.Entities.Contact

@{
    ViewBag.Title = "OpenMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Mesaj İçeriği</h2>



<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mesaj Okuma Sayfası</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana sayfa</a></li>
            <li class="breadcrumb-item">Mesajlar</li>
            <li class="breadcrumb-item active" aria-current="page">Mesaj İşlemleri</li>
        </ol>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Güncelleme Paneli</h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            @Html.HiddenFor(x => x.ContactId)
                            <label for="exampleInputCategory">Gönderen Kişi Adı</label>
                            @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
                            <label for="exampleInputCategory">Gönderen Kişi Email</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            <label for="exampleInputCategory">Konu</label>
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                            <label for="exampleInputCategory">Mesaj</label>
                            @Html.TextAreaFor(x => x.Message, 5, 40, new { @class = "form-control" })
                            <label for="exampleInputCategory">Gönderilme Tarihi</label>
                            @Html.TextBoxFor(x => x.SendDate, new { @class = "form-control" })
                        </div>
                        <button type="submit" href="/Contact/ContactList" class="btn btn-primary">Mesajlara Geri Dön</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
