
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page">Detaylı Bakış</li>
        </ol>
    </div>

    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Kategori Sayısı</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.v1</div>
                            <div class="mt-2 mb-0 text-muted text-xs">

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Ürün Sayısı</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.v2</div>
                            <div class="mt-2 mb-0 text-muted text-xs">

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shopping-cart fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New User Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Şef Sayısı</div>
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.v3</div>
                            <div class="mt-2 mb-0 text-muted text-xs">

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Aktif Rezervasyonlar</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.v4</div>
                            <div class="mt-2 mb-0 text-muted text-xs">

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">

            <!-- Invoice Example -->
            @Html.Action("Reservations", "Dashboard")
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Rezervasyon durumu</h6>

                    </div>
                    <div class="card-body">
                        <div class="mb-3">

                            @{var yuzde1 = Convert.ToDouble(@ViewBag.v5) / Convert.ToDouble(@ViewBag.v7) * 100; }
                            <div class="small text-gray-500">
                                Bekleyen Rezervasyonlar
                                <div class="small float-right"><b>@ViewBag.v7 Rezervasyonda @ViewBag.v5'i</b></div>
                            </div>
                            <div class="progress" style="height: 12px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: @yuzde1%" aria-valuenow="@yuzde1"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            @{var yuzde2 = Convert.ToDouble(@ViewBag.v4) / Convert.ToDouble(@ViewBag.v7) * 100; }
                            <div class="small text-gray-500">
                                Onaylanan Rezervasyonlar
                                <div class="small float-right"><b>@ViewBag.v7 Rezervasyonda @ViewBag.v4'i</b></div>
                            </div>
                            <div class="progress" style="height: 12px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @yuzde2%" aria-valuenow="@yuzde2"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            @{var yuzde3 = Convert.ToDouble(@ViewBag.v6) / Convert.ToDouble(@ViewBag.v7) * 100; }
                            <div class="small text-gray-500">
                                Reddedilen Rezervasyonlar
                                <div class="small float-right"><b>@ViewBag.v7 Rezervasyonda @ViewBag.v6'i</b></div>
                            </div>
                            <div class="progress" style="height: 12px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: @yuzde3%" aria-valuenow="@yuzde3"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a class="m-0 small text-primary card-link" href="/Reservation/ReservationList">
                            Daha Fazla<i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Message From Customer-->
            @Html.Action("Messages", "Dashboard")

        </div>
    </div>
</div>
