@model TasteFoodIt.Entities.Chef

@{
    ViewBag.Title = "UpdateChef";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Şef Güncelleme Sayfası</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana sayfa</a></li>
            <li class="breadcrumb-item">Şefler</li>
            <li class="breadcrumb-item active" aria-current="page">Şef İşlemleri</li>
        </ol>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Güncelleme Paneli</h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            @Html.HiddenFor(x => x.ChefId)
                            <label for="exampleInputCategory">Şef Adı</label>
                            @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
                            <label for="exampleInputCategory">Şef Açıklama</label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                            <label for="exampleInputCategory">Şef Resmi</label>
                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                            <label for="exampleInputCategory">Şef Başlık</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary">Şef Bilgilerini Güncelle</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
