@model List<TasteFoodIt.Entities.Testimonial>

@{
    ViewBag.Title = "Testimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Referans Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Referanslar</li>
            <li class="breadcrumb-item active" aria-current="page">Referans İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Referanslar</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Referans Id</th>
                                <th>Referans Adı</th>
                                <th>Ünvan</th>
                                <th>Açıklama</th>
                                <th>Resim Url</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TestimonialId</td>
                                    <td>@item.NameSurname</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.ImageUrl</td>
                                    <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger">Referansı Sil</a>
                                    <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Testimonial/CreateTestimonial/" class="btn btn-primary">Yeni Referans Girişi</a>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!--Row-->

</div>

